.tooltip-icon {
    align-items: center;
    background-color: #05acf0;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    font-size: .75rem;
    font-weight: 700;
    height: 16px;
    justify-content: center;
    line-height: 20px;
    width: 16px;
}
.bf-tooltip {
    cursor: default;
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.tooltip-content {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    max-width: 18rem;
    opacity: 0;
    padding: 0.75rem;
    pointer-events: none;
    position: absolute;
    transition: ease-in-out .2s;
    width: max-content;
    z-index:1;
}

.tooltip-content img {
    height: auto;
    max-height: 123px;
    object-fit: contain;
    width: auto;
}
.tooltip-right {
    top: 40%;
    transform: translateY(-44%);
    left: 25px;
}
.tooltip-bottom {
    top: 28px;
    left: -78px;
}
.tooltip-right .tooltip-triangle {
    position: absolute;
    right: 100%;
    top: calc(50% - 9px);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.8);
}
.tooltip-bottom .tooltip-triangle {
    position: absolute;
    bottom: 100%;
    right: calc(50% - 2px);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.8);
} 
.bf-tooltip:hover .tooltip-content {
    opacity: 1;
}

.row.main.pull-right {
    display: flex;
    justify-content: space-between;
}

* {
    font-family: 'Apercu', sans-serif;
}
