<br>
<div class="item row clearfix margin-top-fifteen">
  <div class="labels col-md-4 padding-right-zero pull-left">
    <span>Time Between Slides</span>
    <span class="bf-tooltip margin-left-five">
      <span class="tooltip-icon primary-bg">!</span>
      <span class="tooltip-content tooltip-right">
        <span class='tooltip-triangle'></span>
        Choose a number in seconds (1-99) to set the auto-scroll interval between slides. Leave 0 to disable auto-scroll and allow manual scrolling.
      </span>
    </span>
  </div>
  <div class="main col-md-8 pull-right" style="float: right !important; ">
    <input id="url" name="url" type="text" min="0" max="99" class="form-control"
           ng-model="SettingsHome.data.settings.speed"  number-mask>
  </div>
  <hr class="none">
  <br>
</div>